/* Excercise 1 */
body {
    overflow-x: hidden;
}


.anim:active .ball-one {
    left: 50%;
    transition: left .5s ease-in;
  }

.anim:active .ball-two {
    left: 4000px;
    transition: left 1s ease-in .45s;
}
  
.ball-one {
    background: #ff97C0;
    border-radius: 50%;
    position: absolute; top: 70px; left: 00px;
    width: 200px; height: 200px;
    display: flex;
}

.ball-one h1, .ball-two h1 {
    font-size: 80px;
    margin: auto;
}
  
.ball-two {
    background: #0097C0;
    border-radius: 50%;
    position: absolute; top: 70px; left: 52%;
    width: 200px; height: 200px;
    display: flex;
}

/* Excercise 2 */
.excercise-2 {
    width: 100px;
    height: 100px;
    background: red;
	transition: 2s ease-in-out;
}

.excercise-2:hover {
    width: 300px;
}